pipeline/SQLToAzure.json
{
	"name": "SQLToAzure",
	"properties": {
		"activities": [
			{
				"name": "LastLoadLookUp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Latest Load Time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(booking_date) as latestload\nFROM dbo.FactBookings",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_source",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "TotalNewRecords",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "LastLoadLookUp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Latest Load Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sqlsource",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT COUNT(*) as total_count FROM dbo.FactBookings\nWHERE booking_date > '@{activity('LastLoadLookUp').output.firstRow.lastload}' AND  booking_date <= '@{activity('Latest Load Time').output.firstRow.latestload}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "IfNewRecordFound",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "TotalNewRecords",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('TotalNewRecords').output.resultSets[0].rows[0].total_count,0 )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy SQL DATA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM dbo.FactBookings\nWHERE booking_date > '@{activity('LastLoadLookUp').output.firstRow.lastload}' AND  booking_date <= '@{activity('Latest Load Time').output.firstRow.latestload}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sql_source",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Watermark",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy SQL DATA",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "lastload",
											"value": {
												"value": "@activity('Latest Load Time').output.firstRow.latestload",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_emptyjson",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_lookup",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"timestamp_now": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-16T23:21:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}